.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.menu{
    padding: 20px;
    background-color: #F47920;

}

.tabla{
    width: 70%;
    margin: 20px;
}

.foto1{
    width: 40%;
    margin: 5px;
}

.html{
    text-align: center;
    margin: 20px;
}

.submenu{
    padding: 10px;
    background-color: #F0B429
}